<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs")%>
</head>
<body>
    <header>
        <%- include ("./partials/header.ejs")%>
    </header>
    <main class="register">

    <div class="fondo">

        <h2 class="titulosForm">Crea tu producto</h2>

        <div class="errors">
            <ul></ul>
        </div>
        
        <form class="formSignup" action="/indexRouter/crea" method="POST" enctype="multipart/form-data">
            <label class="titulosForm" for="info-personal"><b>Informac0ión Del Producto</b></label>

      
            <label class="titulosForm" for="category" >Liga Del equipo:</label>   

            <!-- <select name="category" id="category" class="textos" placeholder="Seleccionar Liga"> -->
                <!-- Agregar opccion liga despues de la validación -->
                <!-- Poner en el value el numero de cada categoria de la base de datos ej La liga es 1, premier league es 2 etc -->
                <!-- <option value="1">La Liga</option>
                <option value="2">Premier League</option> -->
                <!-- <option value="Serie A">Serie A</option>
                <option value="Primera Division Argentina">Primera Division Argentina </option>
                <option value="Primera Division Colombiana">Primera Division Colombiana</option> -->
                <!-- <option value="Selecciones Mundiales">Selecciones Mundiales </option>
                <option value="MLS">MLS </option>
            </select> -->

            <select name="category" id="category" class="textos" placeholder="Seleccionar Liga">
                <option value="none">---</option>
                <% for(let i=0; i< categorias.length; i++) { %>
                    <option value="<%= categorias[i].category_id %>">
                        <%= categorias[i].category_name %>
                    </option>
                    <% } %>
            </select>
            


           
            <label class="titulosForm" for="name" >Nombre Camiseta:</label>
            <input class="textos" type="text" id="name" name="nameCamiseta" placeholder=" Nombre">
           
            <label class="titulosForm" for="caracteristicas" >Caracteristicas:</label>
            <input class="textos" type="text" id="caracteristica" name="descriptonCamiseta" placeholder="Caracteristicas">

            <label class="titulosForm" for="name" >Precio:</label>
            <input class="textos" type="number" id="name" name="priceCamiseta" placeholder="Precio">

            
            <label class="titulosForm" for="imgFrente">Imagen camiseta de frente:</label>
            <input class="textos" type="file" id="imgFrente" name="imagefrente" accept=".jpg,.png,.jpeg,.gif" multiple>


            <label class="titulosForm" for="imgBack" >Imagen camiseta espalda:</label>
            <input class="textos" type="file" id="imgBack" name="imageback" accept=".jpg,.png,.jpeg,.gif" multiple>

            <button class="botones" type="submit">Guardar</button>

        </form>

    </div>
    
        </main>

    <script src="/js/validacionesProducto.js"></script>

<footer class="footer">
    <%- include ("./partials/footer.ejs")%>
</footer>

</body>
</html>